*{
  box-sizing: border-box;
  padding: 20;
  margin: 10;
  background-color: #d2dbdd;
  
}

.heading_style{
  padding: 30px 0;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;

}

.cards{
  width: 100%;
  height:auto;
  
}

.card{
  margin: 25px;
  margin: 6%;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  width: 21%;
  border-radius: 10px;
  box-shadow: 0px 12px 10px -7px rgba(0, 0, 0, 0.1);
  float: right;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  
}

.card:hover {
   box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
   transform: scale(1.05, 1.05);
}

.card__img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px ;


}

.card__info {
  background-color: #fff;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px ;
  padding: 16px 24px 24px 24px;
  background-color: #fff;

}

.card__category{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;

}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family:'Times New Roman', Times, serif;
  background-color: #fff;
  text-transform: capitalize;
}

button {
  padding: 5px 8px;
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  display: grid;

}
